includes:
    - ./vendor/larastan/larastan/extension.neon
    - ./vendor/phpstan/phpstan-mockery/extension.neon
    - ./phpstan-baseline.neon

parameters:
    level: 9

    ignoreErrors:
        # App Ignores
        -
            message: '#.*? expects string, mixed given.#'
            path: ../config
        -
            message: '#Undefined variable: \$this#'
            path: ../routes/console.php
        -
            message: '#Cannot cast mixed to string.#'
            path: ../routes/console.php
        # Test ignores
        -
            message: '#Undefined variable: \$this#'
            path: ../tests
        -
            message: '#Access to an undefined property Pest\\Expectation<App\\Http\\*#'
            path: ../tests
        -
            message: '#Call to an undefined method Pest\\PendingCalls\\TestCall|Pest\\Support\\HigherOrderTapProxy::be\(\).#'
            path: ../tests
        -
            message: '#Call to an undefined method Pest\\Expectation\<string\|null\>::toRecieveAPaginatedResponse\(\).#'
            path: ../tests
        -
            message: '#Unable to resolve the template type TAndValue in call to method Pest\\Expectation<.+>::and\(\)#'
            path: ../tests

    reportUnmatchedIgnoredErrors: false
